h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h1,
h2 {
  font-weight: bold;
}

ul,
ol {
  margin: 1em 0;
  padding-inline-start: 2em;
}

code {
  font-size: 16px;
}

pre {
  margin: 1em 0;
  overflow-x: auto;
  border: 1px solid silver;
  border-radius: 8px;
  padding: 8px;
}

pre code {
  font-size: 14px;
}

blockquote {
  padding-left: 10px;
  border-left: 3px solid #dbdbdb;
  margin: 1em 0;
}

img {
  max-width: 100%;
  padding: 8px;
  border: 1px solid silver;
  box-sizing: border-box;
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
